body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;

background: linear-gradient(90deg,rgb(206, 250, 170) 0%, rgb(187, 250, 168) 50%, rgb(255, 249, 194) 100%);
}